{% extends "template.html" %}
{% block content %}
<div class="asset-body">
    <div class="asset-info">
        <h1>{{asset[0][1]}}</h1>
        <img class="image" src="/static/images/{{asset[0]}}d.png">
        <h1>{{creator[0][0]}}</h1>
     
        <div class="asset-tags">
            {% for tag in assettags %}
            <span class="tag"><i class="{{tag[1]}}"></i> {{ tag[0] }}</span>
            {% endfor %}
        </div> 

    </div>
    <div class="asset-description">
        <h1>Description</h1>
        <h1>{{asset[0][2]}}</h1>
    </div>
    <div class="asset-downloads">
        <h1>Downloads</h1>
        <a class="download_button" href="/static/images/{{asset[0][0]}}/n.png" download="n.png">Normal Map <i class="fa-solid fa-download"></i></a>
        <a class="download_button" href="/static/images/{{asset[0][0]}}/d.png" download="d.png">Diffuse Map <i class="fa-solid fa-download"></i></a>
        <a class="download_button" href="/static/images/{{asset[0][0]}}/s.png" download="s.png">Specular Map <i class="fa-solid fa-download"></i></a>
        <a class="download_button" href="/static/images/{{asset[0][0]}}/o.png" download="o.png">Occlusion Map <i class="fa-solid fa-download"></i></a>
    </div>
</div>
{% endblock %}