{% extends "template.html" %}
{% block content %}
    <div class="body">
        {% for asset in assets %}
        <a href="/asset/{{asset[0]}}">
            <div class="asset" data-tags="{{ asset[2] | map(attribute=0) | join(',') }}">
                <img class="image" src="/static/images/{{asset[0]}}/d.png">
                <div class="img-types">
                    <div class="img-type">D</div>
                    <div class="img-type">N</div>
                    <div class="img-type">S</div>
                    <div class="img-type">O</div>
                </div>
                <p>{{ asset[1] }}</p>
                <div class="asset-tags">
                    {% for i in asset[2] %} 
                    <span class="tag"><i class="{{i[1]}}"></i> {{ i[0] }}</span>
                    {% endfor %}
                </div> 
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}