{% extends "template.html" %}
{% block content %}
<form action="/upload" method="post">
    <div class="upload-grid">
        <div class="text-input-fields">
            <div class="input-name">
                <h1>Name</h1>
                <input class="input" type="tel" name="name" for="name">
            </div>
            <div class="input-name">
                <h1>Description</h1>
                <input class="input" type="tel" name="description" for="description">
            </div>
            <div class="input-name">
                <h1>Tag(s)</h1>
                <input class="input" type="tel" name="name">
            </div>
        </div>
        <div class="upload-preview">
            <h1>Preview</h1>
            <img class="image-preview" src="../static/images/1d.png">
            <button type="submit" class="upload-button">Upload!</button>
        </div>
        <div class="image-input-fields">
            <label>Normal Map</label>
            <input type="file" name="normal",for="diffuse">
            <label>Diffuse Map</label>
            <input type="file" name="diffuse">
            <label>Specular Map</label>
            <input type="file" name="specular">
            <label>Occlusion Map</label>
            <input type="file" name="occlusion">
        </div>
    </div>
</form>
{% endblock %}